page-country-id {
    ion-col {
        background-color: #ffffff;
        border: solid 1px rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        text-align: center;
      }
      
    ion-scroll {
        white-space: nowrap;
        height: 500px;
    } 
}
